*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
body{background-color: #ceb0a2}
/* HEADER and NAVIGATION BAR*/
.oakley{
  float:left;
  font-size: 80px;
  color: #332317;
  position: relative;
  margin-top:0px;
  left: 40%;
  font-family: arial;
}

#login{
  text-decoration: none;
  font-size: 18px;
  font-family: arial;
  color: #332317;
  background-color: #ef9479;
  right: 60px;
  position: absolute;
  width: 8%;
  border: solid black 2px;
  padding: 0.2em 1.2em;
  top:20px;
  border-radius: 5px;
}

#login:hover{
  background-color: #332317;
  color: #ef9479;
  transition: 0.2s;
}

.headerContainer{
  width: 100%;
  position: relative;
}
.cartImg{
  float:left;
  top: 15px;
  right: 10px;
  width: 3%;
  position: absolute;
}
.container{
  height: 5000px;
  display: inline-block;
  width: 100%;
  position: relative;

}

nav{
  width:40%;
  color: #332317;
  padding: 8px 10px;
  left: -20px;
  bottom: 70px;
  position: relative;
  height: 0%;
}

nav ul{
  float: left;

}

nav ul li {
  float: left;
  list-style: none;
}

nav ul li a {
  display: block;
  font-family: arial;
  color: #332317;
  font-size: 18px;
  padding: 0px 10px;
  text-decoration: none;
  margin-left: 5px;
  position: relative;


}

nav ul li ul {
  display: none;
  position: relative;
  background-color: #ef9479;
  border-radius: 0px 0px 4px 4px;
  padding: 10px;
}

nav ul li:hover ul {
  display:block;
  border: solid black 2px;
  position: absolute;
}

nav ul li ul li {
  width: 150px;
  border-radius: 4px;
}

nav ul li ul li a {
  padding: 8px 14px;
}
nav ul li ul li a:hover {
background-color: #ceb0a2;

}

/*BANNER SLIDESHOW*/
.slideContainer{
  width: 100%;

  position: relative;
  overflow: hidden;

}
.slide{
  width: 100%;
  border-radius: 4px;
  display: none;
  animation: slideAnimation 1s;
  position:relative;

}

@keyframes slideAnimation {
  0%{transform: translateX(50px);}
  100%{transform: translate(0px);}

}
.slide img{
  width: 100%;
  vertical-align: middle;
  border-radius: 10px;
  position:relative;
}
#message{
  position: absolute;
  left:2%;
  color: #ef9479;
  top: 5%;
  font-size: 60px;
  font-family: Arial;
  opacity: 70%;
  animation-name: moveMessage;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes moveMessage {
  from{transform: translateX(0%);}
  to{transform: translateX(130%);}
}

#sale{
  position: absolute;
  right:5%;
  color: #ef9479;
  top: 15%;
  font-size: 70px;
  font-family: Arial;


}
#ending{
  position: absolute;
  left:5%;
  color:#ef9479 ;
  bottom: 30%;
  font-size: 20px;
  font-family: Arial;
}



#sale {
  animation: blinker 4s linear infinite;
}
 @keyframes blinker{
   50%{
     opacity: 0;
   }
 }

.prev, .next{
  position:absolute;
  top: 40%;
  font-size: 3em;
  color: #ef9479;
  display: inline-block;
  padding: 1em 0.5em;
}

.prev{
  right:2%;
}

.next{
  .left: 2%;
}




.cardContainer1 #cart4, #cart5, #cart6{
  padding: 1em;
  background-color: #ef9479;
  font-family: arial;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  margin-left: 35%;
  color: #332317;
  border: solid #332317;

}

.cardContainer1 #cart4:hover, #cart5:hover, #cart6:hover{
  background-color: #332317;
  color:#ef9479;

}

.cardContainer2, .cardContainer1{
  width:100%;
  height: 12%;
  display: inline-block;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}



.cardContainer2 .card2, .cardContainer1 .card1{
box-shadow: 1px 1px 3px gray;
width: 30%;
height: 100%;
margin-left: 2%;
float:left;
background-color: rgb(240,128,128);
border-radius: 10px;
font-family: arial;

}

.cardContainer2 .card2:hover, .cardContainer1 .card1:hover{
  transform: scale(1.02);
  transition: 0.4s;
}


.cardContainer2 .card2 img, .cardContainer1 .card1 img {
  width: 75%;
  height: 75%;
  border-radius: 10px;
  margin-left:12.5%;
  margin-top: 10%;
  border: solid 5px #332317;
}

.cardContainer2 .card2 p, .cardContainer1 .card1 p {
  0.5em; margin-bottom: 20px;
  text-align: center;

}

.cardContainer2 #cart, #cart2, #cart3{
  padding: 1em;
  background-color: #ef9479;
  font-family: arial;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  margin-left: 35%;
  color: #332317;
  border: solid #332317;
}

.cardContainer2 #cart:hover, #cart2:hover, #cart3:hover{
  background-color: #332317;
  color: #ef9479;
}

.modalWindow, .modalWindow2, .modalWindow3,
.modalWindow4, .modalWindow5, .modalWindow6, .loginWindow{
background-color: rgba(50,50,50,0.6);
position: fixed;
top: 0%;
bottom: 0%;
left: 0%;
right: 0%;
display: none;
}

.modalBody, .modalBody2, .modalBody3, .modalBody4, .modalBody5, .modalBody6, .loginBody{
  width: 80%;
  height: 700px;
  margin: 5% auto;
  background-color: white;
  margin-top: 2%;

}

.modalHeader, .modalHeader2, .modalHeader3, .modalHeader4, .modalHeader5, .modalHeader6, .loginHeader{height: 10%; background-color: #ceb0a2; padding: 0.5em;}
.modalInfo, .modalInfo2, .modalInfo3, .modalInfo4, .modalInfo5, .modalInfo6, .loginInfo{height: 70%; padding: 0.5em;}
.modalFooter, .modalFooter2, .modalFooter3, .modalFooter4, .modalFooter5, .modalFooter6, .loginFooter{height: 20%; background-color: #ceb0a2; padding: 0.5em; }

.input1, .input2, .input3, .checkBox, .loginInput, .loginInput2, .loginCheckBox{
  display:block;
  margin: 2em;
}
.input1, .loginSubmit{
   background-color:#ef9479;
   border-radius: 5px;
   padding: 0.2em 1em;

}
.input1:hover{
  background-color: #ceb0a2
  color:#332317;
  box-shadow: 0px 0px 2px 2px #ef9479;
}

#viewSecurityCode, #viewPassCode{
  background-color: #ef9479;
  border-radius: 5px;
  padding: 0.2em 1em;
  font-size: 12px;
  margin-left: 2%;
}

#viewSecurityCode:hover, #viewPassCode:hover{
  background-color: #ceb0a2;
  color: #332317;
  box-shadow: 0px 0px 2px 2px #ef9479;
}

#showPassword{
  width:2%;
}

#passwordEye{
  width: 1%;
}

#checkBox, #loginCheckBox{
  font-size: 14px;
}

#visa{width: 3%;}
#mastercard{width: 3%;}
#amex{width: 3%;}

.customerSubmit{
  display: block;
  margin: 2em;
  position: relative;
}



.customerLastN, .customerEmail, .customerPhone, .companyName{
display: block;
margin-top: 2%;
}
.modalImg{
  position:relative;
}
.modalImg img{
  width: 25%;
  border-radius: 5px;
  margin-left: 2%;
  margin-top: 2%;
  border: solid #332317 5px;

}

#myForm1{
  top: 150px;
  right:200px;
  background-color: lightgray;
  padding: 0.5em;
  position: absolute;
}

#footer{
  position: relative;
  width: 100%;
  height: auto;
}
.contactForm{
  background-color: rgb(240,128,128);
  width: 40%;
  height: 500px;
  padding: 0.5em;
  border-radius: 10px;
  margin-left: 2%;
  font-family: arial;


}
#myForm2{
  width: 100%;
  position: relative;
}

.cardContainer3 .card {

width: 50%;
height: 100%;
position: absolute;
bottom: 0px;
left: 625px;

}



.cardContainer3 .card img {
  width: 100%;
  height: 100%;
  position:absolute;
}



#closeModal, #closeModal2, #closeModal3, #closeModal4, #closeModal5, #closeModal6, #closeloginModal{
  background-color: white;
  border: solid black 1px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 12px;
  font-family: arial;
  padding: 0.5em;

}

.descriptionCart{
  width: 30%;
  font-size: 18px;
  list-style: none;
  font-family: arial;
  position: absolute;
  top: 50px;
  left: 320px;
}
.contact{border: solid gray;
  background-color: rgb(12, 90, 105);
  display: inline-block;
  width: 100%;

}

.contact1, .contact2{
  width: 10%;
  float: left;
  margin-left: 3%;
  padding: 1em 2em;
  color: #332317;
  font-size: 20px;
  font-family: Arial;

}



.bringToStore, .dropOff, .sendByMail{
  width: 30%;
  font-size: 12px;
  margin-left: 2%;
  font-family: arial;
  float: left;
  bottom: 100px;
}

.returnPolicy{
  margin-left: 20px;
  width: 30%;
  height: 0%;
}
.socialMedia{
  position: relative;
  top: 50px;
  font-size: 18px;
  font-family: Arial;

}
.socialMedia img{
  display: block;
  width:5%;
  margin: 1%;
  position: relative;
  }


.copyright{
  position: absolute;
  bottom: 10px;


}




.linkContainer{
  display: block;
  margin-left: 50px;

  position: absolute;
  bottom: -62px;
}



/* Card Section */

/*
.cardContainer1 .card1{
border: green solid;
box-shadow: 1px 1px 3px gray;
width: 30%;
height: 100%;
margin-left: 2%;
float:left;

}
*/
/*
.cardContainer1 .card1 img {
  width: 100%;
  height: 100%;
}


.cardContainer1 .card1 p {
  0.5em; margin-bottom: 20px;
  text-align: center;

}
*/

/*
.cardContainer{
  width: 45%;
  position: relative;
  margin-left: 2%
}

.cardContainer2{
  width:45%;
  float:right;
  position:relative;
  margin-left: 2%;
}

.cardContainer .card {
border: gray solid;
box-shadow: 1px 1px 3px gray;
width: 100%;
height: 100%;

}


.cardContainer .card img {
  width: 100%;
  height: 50%
}

.cardContainer .card p {
  position:absolute;
  font-family: Arial;
  color: #ef9479;
  font-size: 24px;
  bottom: 5%;
  left: 5%;

}

.cardContainer2 .card {
border: gray solid;
box-shadow: 1px 1px 3px gray;
width: 100%;
height: 100%;

}


.cardContainer2 .card img {
  width: 100%;
  height: 50%
}

.cardContainer2 .card p {
  position:absolute;
  font-family: Arial;
  color: #ef9479;
  font-size: 24px;
  bottom: 5%;
  left: 5%;

}
========================================


animation: slideAnimation2 1s;
@keyframes slideAnimation2 {
  0%{transform: translateY(50px);}
  100%{transform: translate(0px);}
}
animation: slideAnimation3 1s;
@keyframes slideAnimation3 {
  0%{transform: translateY(50px);}
  100%{transform: translate(0px);}
}
======================================
/*
p{
font-family: arial;
color: #332317;
font-size: 80px;
text-decoration: none;
float: right;
margin-right:500px;
margin-top: -5px;

}

.shoppingCart{
  width: 4%;
  float: right;
}

*/
