*{box-sizing: border-box;}
.animation_container{
  border: ridge 20px gray;
  width: 90%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.london {
  width: 100%;
  filter: invert(10%);
  animation-name: animationFilter;
  animation-delay: 4s;
  animation-duration: 0.2s;
}
@keyframes animationFilter {
  0%{filter: invert(0%);}
  50%{filter: invert(100%);}
  100%{filter: invert(10%);}

}

.camera {
  width: 25%;
  position: absolute;
  bottom: 40%;
  left: 5%;
  animation-name: moveCamera;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
@keyframes moveCamera {
  from{transform: translateX(0%);}
  to{transform: translateX(200%);}
}
.heart1, .heart2, .heart3, .heart4, .heart5,
.heart6, .heart7, .heart8, .heart9, .heart10,
.heart11, .heart12 {
  position: absolute;

}
.heart1 {width: 15%; top: 0%; left: 10%;}
.heart2 {width: 17%; bottom: 50%; right: 10%;}
.heart3 {width: 13%; top: 10%; left: 20%}
.heart4 {width: 15%; bottom: 40%; right:30%;}
.heart5 {width: 5%; top: 18%; left: 41%; }
.heart6 {width: 12%; bottom: 30%; left: 30%;}
.heart7 {width: 5%; top: 14%; left: 47%;}
.heart8 {width: 14%; top: 0%; right: 10%}
.heart9 {width: 13%; bottom: 40%; left: 10%}
.heart10{width: 14%; top: 20%; right: 20%}
.heart11{width: 10%; top: 30%; left: 10%}
.heart12{width: 5%; top: 18%; left: 53%}

.saycheese {
  position: absolute;
  font-family:jokerman;
  color: white;
  float: left;
  top: 15%;
  left: 14%;
  font-size: 3em;
  text-shadow: 5px 0px 7px red;
  animation: zoomText 3s 3

   }

   @keyframes zoomText {
    0%{transform: scale(0.5);}
    50%{transform: scale(1);}
    100%{transform: scale(0.5);}

   }

   .heart1, .heart2, .heart3, .heart4, .heart5,
   .heart6, .heart7, .heart8, .heart9, .heart10,
   .heart11, .heart12 {
   animation-name: heartClick;
   animation-iteration-count: infinite;
   animation-delay: 5s;
   opacity: 0;
   animation-fill-mode: forwards;
 }
   @keyframes heartClick {
     0%{opacity: 0.5;}
     50%{opacity: 0.7;}
     100%{opacity: 1;}

   }

   .heart1 {animation-duration: 0.3s;}
   .heart2 {animation-duration: 0.5s;}
   .heart3 {animation-duration: 0.3s;}
   .heart4 {animation-duration: 0.7s;}
   .heart5 {animation-duration: 0.8s;}
   .heart6 {animation-duration: 0.9s;}
   .heart7 {animation-duration: 0.1s;}
   .heart8 {animation-duration: 0.2s;}
   .heart9 {animation-duration: 0.4s;}
   .heart10 {animation-duration: 0.8s;}
   .heart11 {animation-duration: 0.3s;}
   .heart12{animation-duration: 0.5s;}
