*{box-sizing: border-box;}
.header1 {
  background-color: rgba(95, 24, 73);
  font-family: Lucida Handwriting;
  color: rgba(219, 196, 32);
  font-size: 400%;
  width: 100%;
  text-align: center;
  height: 300px;
  padding: 80px;
  margin-top: 0%;

}
.main_container{
  border: solid 1px red;
  width: 100%;
  margin-top:0%;
  background-color: lightblue;

}
.trocRow {
  border: solid green;
  margin-top: 2em;
  position: relative;

}
.trocImg {
  width: 100%;
  filter: invert(10%);
  animation-name: animationFilter;
  animation-delay: 4s;
  animation-duration: 0.2s;

  }
@keyframes animationFilter {
  0%{filter: invert(0%);}
  50%{filter: blur(100%);}
  100%{filter: sepia(10%);}

}
.trocText {
  font-family: Brush Script MT;
  font-size: 50px;
  color: rgba(95, 24, 73);
  position: absolute;
  top: 10%;
  left: 30%;
  background-color: transparent;
  animation-name: moveText;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 2s;
  animation-fill-mode: backwards;


}
   @keyframes moveText {
     from{transform: translateY(0%);}
     to{transform: translateY(200%);}


   }

.navBar {
  font-size: 200px
  color: inherit;
  font-family: sans-serif;
  text-align: center;
}


.louvRow, .operaRow, .arcRow {
  border: solid green;
  margin-top: 2em;
}

.louvHeader, .operaHeader, .arcHeader {
  font-size: 20px;
  font-family: sans-serif;
  font-style: Bold;
  text-align: Center;
}

.louvImg {
  width: 45%;
  margin: auto;
}

.louvText {
  width: 45%;
  float: right;
  color: purple;
  font-size: 14px;
  background-color: transparent;
  margin-right: 2%;
  margin-top: 2%;

}

.louvLink {display: block;
  background-color: magenta;
  margin-top: 1em;
  padding: 0.2em;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;}
  .louvLink:hover{background-color: lightblue;
  box-shadow: 0px 0px 5px 2px gray;}
}

.subpage1_container{

  width: 100%;
  background-color: lightblue;
  margin: 0%;
  border: solid 1px red;

}

.cafeRow {
  border: solid green;

}

.cafeImg {
  width: 10%;
  float: left;

}

.cafeText {
  float: right;

}

.cafeLink {display: block;
    background-color: magenta;
    margin-top: 1em;
    padding: 0.2em;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;}
    .cafeLink:hover{background-color: pink;
    box-shadow: 0px 0px 5px 2px gray;}

.museRow {
  border: solid green;
  width: 100%;
}

.museImg {
  width: 30%;
  margin-top: 2%;
  height: 300px;
  border-radius: 2em;
  float: left
}

.museText {
  font-family: serif;
  font-size: 10px;

}

.operaImg {
  width: 45%;
  margin: 2%;
}

.operaText {
  width: 50%;
  float: left;
  color: purple;
  background-color: transparent;
}

.arcImg{
width: 45%;
margin: 2%;


}

.arcText{
width:45%;
float:right;
color: purple;
font-size: 20px;
background-color: transparent;
margin-right: 2%;
}
.contact{border: solid gray;
  background-color: gray;
  display: inline-block;
  width: 100%;
}
.contact1, .contact2, .contact3{border: solid red;
  width: 30%;
  float: left;
  margin-left: 3%;
  padding: 1em 2em;
}
